* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url("../Images/backgroundimage.png");
    background-size: cover;
    background-attachment: fixed;
}

#headerContainer {
    position: relative;
    background-color:gray;
    text-align: center;
    margin: auto;
    width: 55%;
    height: 175px;
}

#leagueLogo{
    position: absolute;
    display: inline-block;
    height: 400px; 
    width: 400px;
    top: -100px;
    left: 15px;
}
#header {
    position: absolute;
    top: 30px;
    right: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: yellow;
    font-size: 100px;
}

#container {
    background-color:gray;
    text-align: center;
    margin: auto;
    width: 55%;
    height: 2000px;
    color:yellow;
    font-size: 30px;
}

#timeRemaining {
    padding: 40px 30px 70px;
}