* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url("../Images/backgroundimage.png");
    background-size: cover;
    background-attachment: fixed;
}

#headerContainer {
    position: relative;
    background-color:gray;
    text-align: center;
    margin: auto;
    width: 55%;
    height: 175px;
    color: yellow;
}

#leagueLogo{
    position: absolute;
    display: inline-block;
    height: 400px; 
    width: 400px;
    top: -100px;
    left: 15px;
}

#header {
    position: absolute;
    top: 30px;
    right: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
}

#startContainer {
    position: relative;
    background-color:gray;
    margin: auto;
    width: 55%;
    height: 450px;
}

#startButton {
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 25%;
    left: 30%;
    width: 300px;
    height: 75px;
}

#quizContainer {
    display: none;
    position: absolute;
    background-color:gray;
    text-align: center;
    left: 22.5%;
    width: 55%;
    color:yellow;
    font-size: 30px;
}

#timeRemaining {
    padding: 30px 30px 30px;
}

label {
    color:lightyellow;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-right: 20px;
    padding-left: 5px;
}

#submitButton {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 25px;
}

#endContainer {
    display: none;
    position: fixed;
    background-color:gray;
    text-align: center;
    left: 22.5%;
    width: 55%;
    height: 100%;
    color:yellow;
    font-size: 30px;
}

#questionsRight{
    padding-top: 15%;
}

#questionsWrong{
    padding-top: 20px;
}